# Optimization Methods Project

In [2]:
import gurobipy as gp
import pandas as pd
import numpy as np

## Question 2

### Load Data

In [3]:
df_city_sm = pd.read_csv("files/cities_small.csv")
df_city_md = pd.read_csv("files/cities_med.csv")
df_city_lg = pd.read_csv("files/cities_large.csv")
df_pkgs_sm = pd.read_csv("files/packages_small.csv")
df_pkgs_md = pd.read_csv("files/packages_med.csv")
df_pkgs_lg = pd.read_csv("files/packages_large.csv")

In [4]:
df_city_sm.head()

   id        lat         lon
0   0  37.618806 -122.375417
1   1  36.080044 -115.152235
2   2  33.636700  -84.427864
3   3  39.861667 -104.673167
4   4  33.942496 -118.408049

In [5]:
cities = df_city_sm.id.to_list()

In [6]:
cities

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [13]:
def compute_dist(city1_row, city2_row):
    city1_lat = city1_row.lat.item()
    city1_lon = city1_row.lon.item()
    city2_lat = city2_row.lat.item()
    city2_lon = city2_row.lon.item()
    return np.sqrt((city1_lat - city2_lat)**2 + (city1_lon - city2_lon)**2)

In [11]:
df_city_sm[df_city_sm.id == 0]

   id        lat         lon
0   0  37.618806 -122.375417

In [14]:
df_city_sm[df_city_sm.id == 0].lat.item()

37.6188055555556

In [15]:
dists = {}
for i, city1 in enumerate(cities):
    city1_row = df_city_sm[df_city_sm.id == city1]
    for city2 in cities[i:]:
        city2_row = df_city_sm[df_city_sm.id == city2]
        if (city1, city2) not in dists:
            dists[(city1, city2)] = compute_dist(city1_row, city2_row)